# DEV - Table Printout

In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('..')

from obj.table_printout import _check_consistency, _to_str, _import_settings, build_table
from obj.table_printout import TablePrintout
from random import randint, choice

In [2]:
# Sample content for the table
headers = ["ID", "A", "B", "C", "D"]
records = [["First", 1, 2, 3, 4.0],
           ["Second", 11111, 2, 3222, 4.0],
           ["Third", 1, 9.023, 3, 3.345],
           ]

In [9]:
# extract function names (for documentation purposes)
filepath = "../obj/table_printout.py"

with open(filepath, 'r') as file:
    text = file.read()
rows = text.split("\n")

print("Functions:")

for row in rows:
    if "def " in row:
        print("\t", row.split(' ')[1].split('(')[0])

Functions:
	 _to_str
	 _check_consistency
	 _calc_max_width_horiz
	 _calc_max_width_vert
	 _build_table_horiz
	 _build_table_vert
	 _import_settings
	 build_table
	 print_table_vert
	 print_table_horiz

# Checks and Validations

In [4]:
headers = ["ID", "A", "B", "C", "D"]
records = [["First", 1, 2, 3, 4.0],
           ["Second", 11111, 2, 3222, 4.0],
           ["Third", 1, 9.023, 3, 3.345],
           ]

In [27]:
# conversion to string -> OK
h_str, r_str = _to_str(headers, records)

assert type(records[1][1]) == int
assert type(r_str[1][1]) == str

In [28]:
# headers and records consistency -> OK
assert _check_consistency(headers, records) == True
assert _check_consistency(headers[1:], records) # this will raise an error

ValueError: Headers and Records 0 are not the same length: 4 != 5

# Testing Horizontal

In [21]:
# default horizontal printout
settings = {
            "positioning": "horiz",
            "spaces": None,
            "width": None,
            "markdown": False,
            "separator": None
            }

print(build_table(headers, records, settings))

 ID          A       B      C       D
 First       1       2      3      4.0
 Second    11111     2     3222    4.0
 Third       1     9.023    3     3.345

In [22]:
# change spaces and separator
settings["spaces"] = 5
settings["separator"] = ';'

print(build_table(headers, records, settings))

;ID         ;    A     ;    B     ;    C    ;    D     ;
;First      ;    1     ;    2     ;    3    ;   4.0    ;
;Second     ;  11111   ;    2     ;  3222   ;   4.0    ;
;Third      ;    1     ;  9.023   ;    3    ;  3.345   ;

In [23]:
# markdown styling
settings["markdown"] = True
print(build_table(headers, records, settings))

|ID         |    A     |    B     |    C    |    D     |
|---        |   ---    |   ---    |   ---   |   ---    |
|First      |    1     |    2     |    3    |   4.0    |
|Second     |  11111   |    2     |  3222   |   4.0    |
|Third      |    1     |  9.023   |    3    |  3.345   |

# Testing Vertical

In [24]:
# default vertical printout
settings = {
            "positioning": "vert",
            "spaces": None,
            "width": None,
            "markdown": False,
            "separator": None
            }

print(build_table(headers, records, settings))

 ID    First   Second   Third
 A       1     11111      1
 B       2       2      9.023
 C       3      3222      3
 D      4.0     4.0     3.345

In [25]:
# change spaces and separator
settings["spaces"] = 5
settings["separator"] = ';'

print(build_table(headers, records, settings))

;ID     ;  First   ;  Second   ;  Third   ;
;A      ;    1     ;   11111   ;    1     ;
;B      ;    2     ;     2     ;  9.023   ;
;C      ;    3     ;   3222    ;    3     ;
;D      ;   4.0    ;    4.0    ;  3.345   ;

In [26]:
# markdown formatting
settings["markdown"] = True
print(build_table(headers, records, settings))

|ID     |  First   |  Second   |  Third   |
|---    |   ---    |    ---    |   ---    |
|A      |    1     |   11111   |    1     |
|B      |    2     |     2     |  9.023   |
|C      |    3     |   3222    |    3     |
|D      |   4.0    |    4.0    |  3.345   |

# Testing Class

In [31]:
table = TablePrintout(headers, records, settings=settings)

In [32]:
table.print_table()

|ID     |  First   |  Second   |  Third   |
|---    |   ---    |    ---    |   ---    |
|A      |    1     |   11111   |    1     |
|B      |    2     |     2     |  9.023   |
|C      |    3     |   3222    |    3     |
|D      |   4.0    |    4.0    |  3.345   |

In [34]:
table.export()

Exporting table.txt ... done!